@import URL("../../Global.css");

.navbar-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    padding: 0.5rem;
    width: 15vw;
    height: 100vh;
    overflow: hidden;
}

.project-name {
    color: white;
    padding-left: 0.5rem;
}
